@import 'variables';

:root {
  @each $color, $code in $colors { 
    --color-#{'' + $color}: #{$code};
    --color-#{'' + $color}-rgb: #{rgba($code, 1)};
  }
}

@each $color, $code in $colors {
  .color-#{"" + $color} {    
    --color-base: var(--color-#{"" + $color}) !important;
    --color-base-rgb: var(--color-#{"" + $color}-rgb) !important;
  }
  .color-#{"" + $color} {
    color: var(--color-#{"" + $color});
  }
}
