<div class="wrapper-header">
  <img src="assets/logo.png" alt="Logo do supermercado mostrando um desenho ilustrativo da loja">
</div>
<div class="wrapper-content"> 
  <div class="wrapper-products"> 
    <div class="product" *ngFor="let product of products$ | async">
      <div class="product-content">
        <div class="product-image">
          <img [src]="product.image">
        </div>
        <div class="product-info">
          <h1>{{product.name}}</h1>
          <h2>{{product.preco}}</h2>
        </div>
    </div>
    <button class="product-button">
      Adicionar
    </button>
  </div>
</div>
